<h1 class="headerbar" [ngStyle]="{'width': width, 'min-height': minHeight, 'max-height': maxHeight}" mat-dialog-title>{{title}}</h1>
<mat-dialog-content>
  <ng-content></ng-content>
</mat-dialog-content>
<mat-dialog-actions *ngIf="actions.length" [align]="'end'">
  <button mat-raised-button *ngFor="let action of actions" (click)="action.callback()">
    {{action.label}}
  </button>
  <button mat-raised-button *ngIf="cancelButton" mat-dialog-close>
    {{cancelButton}}
  </button>
</mat-dialog-actions>