<h1 class="headerbar" [ngStyle]="{'width': width, 'min-height': minHeight, 'max-height': maxHeight}" mat-dialog-title>{{title}}</h1>
<mat-dialog-content fxLayout="column">
  <ng-content></ng-content>
</mat-dialog-content>
<mat-dialog-actions *ngIf="actions.length || cancelButton">
  <app-actionbar [actions]="actions"></app-actionbar>
  <div class="separator"></div>
  <button mat-raised-button *ngIf="cancelButton" [mat-dialog-close]="cancelValue">
    {{cancelButton}}
  </button>
</mat-dialog-actions>