<app-dialog title="New NPC Template" [actions]="actions" cancel="Cancel" width="15vw">
  <mat-form-field *ngIf="!preDefined">
    <input matInput [(ngModel)]="key" placeholder="Template Key" autocomplete="false"/>
  </mat-form-field>
  <mat-form-field *ngIf="!preDefined">
    <input matInput [(ngModel)]="name" placeholder="Template Name" autocomplete="false"/>
  </mat-form-field>
  <app-property-input
    *ngFor="let property of requiredProperties"
    [property]="property"
    (valueChange)="onValueChange(property, $event)"
  ></app-property-input>
</app-dialog>