.header {
    background-color: grey;
    padding: 4px;
    border-radius: 4px;
    fa-icon {
        margin-left: auto;
        margin-right: 4px;
        cursor: pointer;
    }
    &.open {
        border-radius: 4px 4px 0 0;
    }
}

.container {
    border: 2px solid grey;
    border-top: none;
    padding: 4px;
    border-radius: 0 0 4px 4px;
}