<div id="stage" fxLayout="row">
  <div class="addColumnButton" [hidden]="!canAddColumns">
    <div class="addColumnButtonCircle" (click)="addColumn()">
      <fa-icon [icon]="faPlus"></fa-icon>
    </div>
    <div class="addColumnButtonVertical" (click)="addColumn()"></div>
  </div>
  <ng-container *ngFor="let idx of numColumns | range">
    <div dragula="DRAGGABLE" class="drag-column">
      <ng-template #insertionPoint></ng-template>
      <div class="removalIndicator" (click)="removeColumn(idx)" [hidden]="!canRemoveColumns">
        <div class="minus">
          <fa-icon [icon]="faMinus"></fa-icon>
        </div>
      </div>
    </div>
  </ng-container>
</div>