<div #actionbar fxLayout="row" class="actionbar no-scrollbar" [ngClass]="{'fadein': scrollpos > 0, 'fadeout': scrollpos < 1}">
  <ng-container *ngFor="let action of actions | actionItemFilter">
    <button mat-raised-button *ngIf="!action.plaintext"
      (click)="doCallback(action)"
      [disabled]="action.isDisabled && action.isDisabled()"
      title="{{action.icon ? action.label : ''}}"
      tabindex="-1"
    >
      <ng-container *ngIf="action.icon">
        <fa-icon [icon]="action.icon" style="font-size: large;"></fa-icon>
      </ng-container>
      <ng-container *ngIf="!action.icon">
        {{action.label}}
      </ng-container>
    </button>
    <span class="text" *ngIf="action.plaintext">
      {{action.label}}
    </span>
    <div class="separator" *ngIf="action.separator"></div>
  </ng-container>
</div>