.actionbar {
    padding-top: 8px;
    padding-bottom: 8px;
    :not(.separator) {
        margin-left: 8px;
        &:first-child {
            margin-left: 0px;
        }
    }
    .separator {
        border-right: 1px solid gray;
    }
    .text {
        margin-top: auto;
        margin-bottom: auto;
        font-size: large;
        color: #424242;
    }
}