<mat-form-field *ngIf="defaultProperty">
  <input matInput
    [(ngModel)]="valueStr"
    (ngModelChange)="onValueStrChange()"
    (change)="onFocusChange()"
    [placeholder]="defaultProperty.name"
    autocomplete="false"
    [style.color]="highlight ? highlightColor : ''"
    (onEnterPressed)="onEnter.emit()"
  />
  <mat-hint style="color: lightcoral" *ngIf="showErrorMessage">{{errorMessage}}</mat-hint>
</mat-form-field>

<mat-form-field *ngIf="textAreaProperty">
  <textarea matInput
    class="notes"
    [(ngModel)]="valueStr"
    (ngModelChange)="onValueStrChange()"
    (change)="onFocusChange()"
    [placeholder]="textAreaProperty.name"
    [style.color]="highlight ? highlightColor : ''"
    autocomplete="false"
  ></textarea>
</mat-form-field>

<mat-form-field *ngIf="enumProperty">
  <mat-select
    [(ngModel)]="valueStr"
    (ngModelChange)="onValueStrChange()"
    [placeholder]="enumProperty.name"
    (onEnterPressed)="onEnter.emit()"
  >
    <mat-option *ngFor="let option of enumProperty.options" [value]="option.key">
      {{option.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
  
<mat-checkbox *ngIf="booleanProperty"
  [(ngModel)]="value"
  (ngModelChange)="onValueChange()"
>
  {{booleanProperty.name}} 
</mat-checkbox>

<app-multi-property-input *ngIf="multiProperty"
  [property]="multiProperty"
  [allowBlank]="allowBlank"
  (valueChange)="onMultiValueChange($event)"
  (onEnter)="onEnter.emit()"
></app-multi-property-input>