<mat-form-field style="width: 100%">
  <input matInput *ngIf="defaultProperty"
    [(ngModel)]="valueStr"
    (ngModelChange)="onValueChange()"
    (change)="onFocusChange()"
    [placeholder]="defaultProperty.name"
    autocomplete="false"
    (onEnterPressed)="onEnter.emit()"
  />
  <mat-hint style="color: lightcoral" *ngIf="showErrorMessage">{{errorMessage}}</mat-hint>
  
  <textarea matInput *ngIf="textAreaProperty"
    class="notes"
    [(ngModel)]="valueStr"
    (ngModelChange)="onValueChange()"
    (change)="onFocusChange()"
    [placeholder]="textAreaProperty.name"
    autocomplete="false"
  ></textarea>
  
  <mat-select *ngIf="enumProperty"
    [(ngModel)]="valueStr"
    (ngModelChange)="onValueChange()"
    [placeholder]="enumProperty.name"
    (onEnterPressed)="onEnter.emit()"
  >
    <mat-option *ngFor="let option of enumProperty.options" [value]="option.key">
      {{option.name}}
    </mat-option>
  </mat-select>
</mat-form-field>