<div class="npc" fxLayout="column" *ngIf="loaded">
  <!-- Floating Buttons -->
  <div class="drag-handle"></div>
  <div class="delete-button" (click)="close()"></div>
  
  <!-- Header -->
  <mat-form-field class="npc-name" fxLayout="column">
    <input matInput type="text" [(ngModel)]="npc.name" autocomplete="false"/>
    <mat-hint class="hint-table">
      <span>{{npc.getTemplateName()}} {{(npc.getProperty(attributeEnum.SIZE) | async)!.display}}</span>
      <span>Speed: {{npc.getProperty(attributeEnum.SPEED) | async}}m</span>
    </mat-hint>
  </mat-form-field>
  <div class="gap"></div>
  
  <!-- Attributes -->
  <app-attribute-bar [npc]="npc" [attribute]="attributeEnum.HP" color="crimson"
    (onChange)="onHpChange($event)"
  ></app-attribute-bar>
  <app-attribute-bar [npc]="npc" [attribute]="attributeEnum.SP" color="mediumseagreen"
    (onChange)="onSpChange($event)"
    [disabled]="npc.getProperty(combatEnum.STAMINA_SPENT) | async"
  ></app-attribute-bar>
  <app-attribute-bar [npc]="npc" [attribute]="attributeEnum.MP" color="cornflowerblue"></app-attribute-bar>
  <div class="gap"></div>
  
  <!-- Buttons -->
  <div fxLayout="row">
    <button mat-raised-button (click)="testButton()">TEST</button>
  </div>
</div>