.npc {
    height: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(70, 70, 70);
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.circle-button {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    position: absolute;
}

.drag-handle {
    @extend .circle-button;
    background-color: aqua;
    left: 0px;
    top: 0px;
}

.delete-button {
    @extend .circle-button;
    background-color: crimson;
    left: calc(100% - 16px);
    top: 0px;
}