.npc {
    height: fit-content;
    padding: 16px;
    padding-top: 0;
    display: flex;
    position: relative;
    background-color: rgb(70, 70, 70);
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    align-items: center;
    &.dead {
        background-color: hwb(0 27% 60%);
        opacity: 0.4;
    }
}

.circle-button {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    position: absolute;
    z-index: 100;
    color: rgb(70, 70, 70);
    top: 0px;
    fa-icon {
        position: absolute;
        pointer-events: none;
        top: -1px;
    }
}

.drag-handle {
    @extend .circle-button;
    background-color: cornflowerblue;
    left: 0px;
    cursor: grab;
    fa-icon {
        left: calc((16px - 14px) / 2);
    }
}

.clone-button {
    @extend .circle-button;
    background-color: seagreen;
    left: calc(100% - 56px);
    cursor: pointer;
    fa-icon {
        font-size: 12px;
        left: calc((16px - 12px) / 2);
        top: -2px;
    }
}

.edit-button {
    @extend .circle-button;
    background-color: gold;
    left: calc(100% - 36px);
    cursor: pointer;
    fa-icon {
        font-size: 12px;
        left: calc((16px - 12px) / 2);
        top: -2px;
    }
}

.delete-button {
    @extend .circle-button;
    background-color: crimson;
    left: calc(100% - 16px);
    cursor: pointer;
    fa-icon {
        font-size: large;
        left: calc((16px - 11.25px) / 2);
    }
}

.npc-name {
    align-items: center;
    text-align: center;
    text-decoration: line-through;
}

mat-hint.hint-table {
    width: 100%;
    white-space: nowrap;
    display: table;
    table-layout: fixed;
    * {
        display: table-cell;
    }
    *:first-child {
        text-align: left;
    }
    *:last-child {
        text-align: right;
    }
}

// Remove blank space at end of hint
::ng-deep .mat-form-field-hint-spacer {
    flex: none !important;
}

div.gap {
    height: 8px;
    width: 0;
}