:host {
    width: 320px;
}

.log-entry {
    margin: 8px;
}

.timestamp {
    color: gray;
}

.test-results-block {
    font-size: large;
    .test-roll {
        margin-right: 1em;
    }
    .test-results {
        width: 100%;
    }
}