<app-error></app-error>
<app-menubar></app-menubar>
<mat-drawer-container style="overflow-y: hidden;" *ngIf="!environment.mobile">
  <mat-drawer mode="over" position="end" style="width: 320px;" (openedStart)="onDrawerOpen()">
    <app-test-log></app-test-log>
  </mat-drawer>
  <mat-drawer-content>
    <app-stage></app-stage>
  </mat-drawer-content>
</mat-drawer-container>
<div class="mobile-warning" *ngIf="environment.mobile">
  This web application is designed to be used on desktop with a keyboard and mouse.
</div>