<!-- <span>HP: {{statDisplay(attribute) | async}}</span> -->
<div fxLayout="row">
  <div (click)="modify(-1)">
    <fa-icon [icon]="faCircleMinus"></fa-icon>
  </div>
  <div class="bar-column">
    <div class="bar-container">
      <div class="attribute-bar-bg"></div>
      <div class="attribute-bar" [style.width]="getBarPercent() | async" [style.background-color]="color"></div>
      <div class="attribute-bar-text">
        {{statDisplay() | async}}
      </div>
    </div>
  </div>
  <div (click)="modify(1)">
    <fa-icon [icon]="faCirclePlus"></fa-icon>
  </div>
</div>