<div id="menubar" fxLayout="row" class="menubar">
  <div class="title-box">
    <h1 onclick="window.open('https://github.com/lawfulstupid/UESRPG-Combat-Helper')">
      UESRPG Combat Helper
    </h1>
    <h1 onclick="window.open('https://github.com/lawfulstupid/UESRPG-Combat-Helper/releases/latest')">
      <div id="badge" class="badge">
        v{{version}}
      </div>
    </h1>
  </div>
  <div class="separator">
    <div id="fadeout" class="fadeout"></div>
  </div>
  <app-actionbar [actions]="actions"></app-actionbar>
</div>