<app-dialog title="New NPC" [actions]="actions" cancel="Close" width="15vw">
  <mat-form-field >
    <input matInput [(ngModel)]="name" placeholder="Name" autocomplete="false"/>
  </mat-form-field>
  <mat-form-field *ngIf="!newTemplate">
    <mat-select [(ngModel)]="templateKey" placeholder="Class" (selectionChange)="onSelect()">
      <mat-option>
        <ngx-mat-select-search placeholderLabel="Search..."></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let template of templateList" [value]="template.key">
        {{template.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="newTemplate">
    <input matInput [(ngModel)]="templateKey" placeholder="Template Key" autocomplete="false"/>
  </mat-form-field>
  <mat-form-field *ngIf="newTemplate">
    <input matInput [(ngModel)]="templateName" placeholder="Template Name" autocomplete="false"/>
  </mat-form-field>
</app-dialog>