:host {
    width: 100%;
}

.bar-column {
    width: 100%;
    padding: 2px 8px;
}

.bar-container {
    width: 100%;
    position: relative;
}

.attribute-bar {
    position: absolute;
    height: 14px;
    border-radius: 7px;
    max-width: 100%;
}

.attribute-bar-bg {
    @extend .attribute-bar;
    width: 100%;
    background-color: gray;
}

.attribute-bar-slider {
    @extend .attribute-bar-bg;
    appearance: none;
    margin: 0px;
    background: transparent;
}

.attribute-bar-slider::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background: transparent;
}

.attribute-bar-text {
    @extend .attribute-bar;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: small;
    transform: translateY(-3px);
    user-select: none;
    cursor: pointer;
}