:host {
    width: 100%;
}

.bar-column {
    width: 100%;
    padding: 2px 8px;
}

.bar-container {
    width: 100%;
    position: relative;
}

.attribute-bar {
    position: absolute;
    height: 14px;
    border-radius: 7px;
    max-width: 100%;
}

.attribute-bar-bg {
    @extend .attribute-bar;
    width: 100%;
    background-color: gray;
}

.attribute-bar-text {
    @extend .attribute-bar;
    width: 100%;
    text-align: center;
    font-size: small;
    transform: translateY(-3px);
}