:host {
    width: 100%;
}

.roller {
    mat-select {
        width: 100%;
    }
    app-property-input {
        width: 52px;
    }
    * {
        margin: auto 0;
        margin-left: 16px;
    }
    *:first-child {
        margin-left: 0;
    }
}